html{
  font-family: 'Roboto', sans-serif;
}
body{
  background-color: #B6DBEA;
}
.container{
  margin: 25px auto;
  border-radius: 5px;
  background-color: #fff;
  padding: 25px 50px;
}
.main{
  background-color: #fff;
  border-radius: 5px;
}
.titleSpan {
  margin: 0 -3px !important
}
.navbar{
  background-color: #476C9B  !important;
  padding: 0 !important;
  color: #fff
}
.navbar a {
  color: #fff !important
}
a.nav-link, {
  color: #fff;
}
a:hover{
  color: #77BA99 !important;
}
a.navbar-brand img:hover{
  -webkit-filter:drop-shadow(8px 8px 10px white) !important;
  filter: drop-shadow(8px 8px 10px white) !important;
}
.footer{
  width: 100%;
  line-height: 1.5em;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  bottom: 0;
}
.footer > .span-1{
  float: left !important;
  color: #fff;
}
.footer > .span-2{
  float: right !important;
  color: #fff;
}
.footer > .span-2 a {
  color: #fff
}
.footer > .span-3, .footer > .span-3 i{
  margin: auto !important;
  color: #fff;
}
