html{
  font-family: 'Roboto', sans-serif;
}
body{
  background-color: rgb(204, 224, 245);
}
h1{
  font-size: 40px
}
h2{
  font-size: 36px
}
h3{
  font-size: 32px
}
h4{
  font-size: 28px
}
h5{
  font-size: 24px
}
h6{
  font-size: 20px
}
p{
  font-size: 14px;
}
.container2{
  margin: 10px auto;
  border-radius: 5px;
  background-color: #fff;
  padding: 25px 40px;
}
.main{
  background-color: #fff;
  border-radius: 5px;
}
.titleSpan {
  margin: 0 -3px !important
}
/* nav button {
  margin: 10px;
}
.navbar{
  background-color: #6f42c1 !important;
  padding: 0 !important;
  color: #fff;
}
.navbar-nav{
  margin-left: 10px;
}
.navbar a {
  color: #fff !important
}
a.nav-link, {
  color: #fff;
}
a:hover{
  color: rgb(204, 224, 245) !important;
}
a.navbar-brand img:hover{
  -webkit-filter:drop-shadow(8px 8px 10px white) !important;
  filter: drop-shadow(8px 8px 10px white) !important;
}
.dropdown-menu {
  background-color: rgb(235, 214, 255);
  border: 1px solid #6f42c1;
  border-radius: 0 0 5px 5px;
  width: 100%;
  top: 105%;
}
.dropdown-menu a{
  color: black !important
}
*/
li{
  list-style: none
}

.post-title, .post-body{
  Margin: 10px 0
}
#editor-container {
  height: 400px;
}
.login-form{
  margin: 50px auto;
  width:50%
}
.form-group{
  margin: 0;
}
.email-input, .password-input{
    margin: 0 auto;
    width: 50%;
}
.email-input{
	border-radius: 5px 5px 0 0;
}
.password-input {
	border-radius: 0 0 5px 5px;
}
.login-button-div {
  text-align:center;
  margin: 25px auto
}
.login-form button {
width: 50%;
}

.footer{
  width: 100%;
  line-height: 2.5em;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  /* background-color: #6f42c1  !important */
}
/* .footer > .span-1{
  float: left !important;
  color: #fff;
}
.footer > .span-2{
  float: right !important;
  color: #fff;
}
.footer > .span-2 a {
  color: #fff
}
.footer > .span-3, .footer > .span-3 i{
  color: #fff;
}
.footer > .span-3 a{
  color: #fff
} */


@media (max-width: 992px) {
.container {
    max-width: 970px !important;
}
}

@media (max-width: 768px){
  .container {
      max-width: 740px !important;
  }
}

@media (max-width: 576px) {
  .container {
      max-width: 560px  !important;
  }
}
