<div class="col-md-12">
  <h1><b><em>Glitchi</em></b>-gami?</h1>
  <h2>Aren't Glitches bad for computers?</h2>
  <p>Normally, yes. But here, it's just a play on the Obijwe word for Lake Superior, 'Gitchi-gami', meaning 'great sea'. We promise, you will only <b>sea great</b> work from us.</p>
  <p>All puns aside, we're here for you and we do it well. Whether you need a new website, your old website needs work, or you need something more from your current (or non-existent) IT Company, we're here for you. We've been in this business long enough to know that the relationship between a business owner like yourself and an IT/Website management firm can (and often does) go south very quickly: expectations are mismatched, products are delivered well over time and budget, there's no one to turn to for help when your website goes down or you need an update (and let's not get started on the cost to your business when the site <em>does</em> go offline).</p>
  <p>So here we are. We're small, we're accessible, and we're smart. We stay ahead of the most recent technologies to make sure we're offering you the best experience that we can. We know your money is hard-earned and your time is valuable, so we won't waste either with vague tech-talk that covers up bullshit that you can smell anyway. We're transparent.</p>
  <div>
    <p>That's our bottom line.</p>
    <p>(but beyond all of that, we're also really fun folks - )</p>
  </div>
